// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// note: there may be a better place to put this.  I tried putting in a new file navbar.scss but Nuxt doesn't seem to recognize it, not sure why - Jesse

#navBar {
    .navbarContainer {
        height: 100%;
        display: flex;
        align-items: center;
    }

     .navbarColumn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 50px;
        display: flex;
        align-items: center;
    }

    .logoImg {
        width: 100%;
    }

    .navbarList {
        list-style: none;
        display: flex;
        align-items: center;
        float: right;
        margin-right: 100px;
        width: 35%;
        justify-content: space-evenly;

        .link {
            color: black;
        }


        li {
            padding:0.35em 1em;
            border-radius: 4px;
            font-weight: 400;
            font-size: 1em;
            margin:0.5em 0 0.5em 0;
        }

        .link:hover {
            cursor: pointer;
            color: #779F98;
            transition: color 0.5s;
        }

        .download {
            color: white;
            background-color:#BF3F4A;
            font-weight: 500;
            margin: 0.35em 1em;
        }

        .download:hover {
             cursor: pointer;
            color: white;
            background-color:#F26D78;
            transition: background-color 0.5s;
            
        }
    }

}



// FOOTER
.v-footer {
    display: flex;
    justify-content: center;

    .v-card {
        width: 100%;
    }

    .footerList {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 80px;
        align-items: center;
        
        a {
            font-weight: bold;
            color: ivory;
            font-size: 20px;
        }

        a:hover {
            color: white;
            transition: color 1s;
        }
    }
}